*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 6% auto;
    max-width: 550px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #000;
    overflow: hidden;
    
}
.top{
    background-color: #6943FF;
    width:100%;
    height: 40%;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top h1{
    margin-top: 20px;
    font-weight: 900;

}

#input{
    width: 130px;
    height: 100px;
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    
    
    
}

#input:active,
#input:focus{
    outline: none;
    box-shadow: none;
}

#btn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 1.3rem;
    color: #3D3D3D;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px #000;
    transition: all .25s ease-in;
}
.bottom{
    background-color: #1F2937;
    width:100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#card1{
    margin-top: 30px;
}
.card{
    background-color: #273549;
    width: 90%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    transition: all .25s ease-in;
}
.title{
    color: #CCC1FF;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.2rem;
}
.value{
    color: #FFFFFF;
}

.card:hover{
    background-color: #2E3B4E;
    transform: scale(1.05);
}

#btn:hover{
    background-color: #E5E7EB;
    transform: scale(1.1);
}
#btn:active{
    transform: scale(0.95);
}
